.container {
  max-width: 640px;
  margin: 50px;
  height: 100px;
  padding: 60px;
  border-radius: 10px;
}

.container > .form {
  background: #e6e6e6;
  padding: 70px;
  border-radius: 10px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.form > #btn-add {
  grid-column: 1;
  grid-row: 2;
  max-width: 100px;
}

.form > #btn-clear {
  grid-column: 3;
  grid-row: 2;
}

.form > #btn-div {
  grid-column: 2;
}

.form > #btn-times {
  grid-column: 2;
  grid-row: 2;
}

#btn-add,
#btn-min,
#btn-div,
#btn-times,
#btn-del,
#btn-clear {
  height: 60px;
  border: none;
  width: 60px;
  background-color: #213abf;
  color: #fff;
  border-radius: 5px;
}

#btn-clear:hover {
  background-color: #162780;
}

#btn-del:hover {
  background-color: #162780;
}

#btn-add:hover {
  background-color: #162780;
}

#btn-min:hover {
  background-color: #162780;
}

#btn-div:hover {
  background-color: #162780;
}

#btn-times:hover {
  background-color: #162780;
}

.form > input {
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #808080;
}

.form > #inputA {
  grid-column: 4 / span 6;
}

.form > #inputB {
  grid-column: 4 / span 6;
  grid-row: 2;
}

.form > #inputC {
  grid-row: 3;
  grid-column: 2 / span 8;
}
